* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-responsive-container:focus,
svg:focus,
svg:active,
svg:focus-visible {
  outline: none !important;
  border: none !important;
}
 
*:focus {
  outline: none !important;
}
 
*:focus-visible {
  outline: none !important;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f8fafc;
}

::-webkit-scrollbar-thumb {
  background: #E54E10;
  border-radius: 20px;
}