* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-responsive-container:focus,
svg:focus,
svg:active,
svg:focus-visible {
  outline: none !important;
  border: none !important;
}
 
*:focus {
  outline: none !important;
}
 
*:focus-visible {
  outline: none !important;
}